/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #3c3c3c; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #1f1b1b; 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }

  .project-link {
    color: #db9c28 ;
    
  }