.root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0.5rem;
  text-align: center;
}

.logo {
  margin-right: 25%;
  margin-top: 0.4%;
  margin-left: 0.4%;
  /* In case I want the logo to spin, uncomment the below */
  /* animation: logo-spin 2s linear infinite; */
}

.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}


@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.footer{
  background-color: #f8f9fa; /* Set your desired background color */
  padding: 10px;
  text-align: center;
  position: absolute;
  bottom: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  width: 100%;
  /* height: 1.2%; */
}